<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title translate>
      tracker.toolbar.title
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tracker.content.title</ion-title>
    </ion-toolbar>
  </ion-header>

  <button ion-button full icon-left (click)="startWatch()" *ngIf="!callbackId">
    <ion-icon name="locate"></ion-icon>
    Start Tracking
  </button>
  <button ion-button full color="danger" icon-left (click)="stopWatch()" *ngIf="callbackId">
    <ion-icon name="hand"></ion-icon>
    Stop Tracking
  </button>

  <ion-list>
    <ion-list-header>Previous Tracks</ion-list-header>
    <ion-list *ngFor="let entry of pathsMap | keyvalue">
      <ion-list-header>{{ entry.value.avgSpeed }}</ion-list-header>
      <ion-item *ngFor="let position of entry.value.getPositions()">
        {{ position.coords.latitude }} - {{ position.coords.longitude }} @ {{ position.coords.speed }}
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
